@forward 'contrast';

@use 'contrast';

@function hue($hue, $saturation: 67%, $contrast: 4.5) {
  @return contrast.darken(hsl($hue, $saturation, if($contrast > 0, 100%, 0%)), $contrast);
}

$light-theme: (
  'background': white,
  'body': hue(0, 0%, 7),
);

$dark-theme: (
  'background': black,
  'body': hue(0, 0%, -7),
);

@mixin color($key, $alpha: 1, $property: 'color') {
  $light: map-get($light-theme, $key);
  @if $alpha != 1 {
    $light: rgba($light, $alpha);
  }
  $dark: map-get($dark-theme, $key);
  @if $alpha != 1 {
    $dark: rgba($dark, $alpha);
  }

  #{$property}: $light;

  @media (prefers-color-scheme: dark) {
    #{$property}: $dark;
  }

  .light-theme &,
  &.light-theme {
    #{$property}: $light;
  }

  .dark-theme &,
  &.dark-theme {
    #{$property}: $dark;
  }
}

@mixin background($key: 'background', $alpha: 1) {
  @include color($key, $alpha: $alpha, $property: 'background');
}

$icon: hue(0, 0%, 4.5);
$border: hue(0, 0%, 3);
$action: hue(210);
$visited: hue(255);
$primary: hue(120);
$secondary: hue(300);
