@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: initial;
  }
}

@mixin fade-in {
  animation: fade 1s ease 0s 1;
}

$duration: 0.25s;

@function transition($property) {
  @return $property $duration ease;
}
