@keyframes fade {
  0% {
    // Display
    opacity: 0;
  }

  100% {
    // Display
    opacity: initial;
  }
}

@mixin fade-in {
  // Decoration
  animation: fade 1s ease 0s 1;
}

$duration: 0.25s;

@function transition($property) {
  @return $property $duration ease;
}
