@use 'color';
@use 'math';

$border: 1px solid color.$border;
$logo-background: linear-gradient(
  to right,
  transparent 57%,
  color.$background 62% 70%,
  transparent 75% 83%,
  color.$background 88% 95%,
  transparent
);
$logo-height: 6rem;
$logo-width: math.round(calc($logo-height * 655 / 286), 0.01);
$section-width: 75rem;
$section-padding: calc(1rem + max(0px, (100% - $section-width) / 2));
$border-width: $section-width + 2 * 4rem;
$border-overflow: max(0px, (100% - $border-width) / 2);
$section-border: linear-gradient(
    to right,
    transparent $border-overflow,
    color.$border calc(5% + $border-overflow) calc(95% - $border-overflow),
    transparent calc(100% - $border-overflow)
  )
  1 / 0;

@mixin fit($spacing: 0) {
  position: absolute;
  inset: $spacing;
}

@mixin mobile {
  @media (width <= 40rem) {
    @content;
  }
}

@function border-gradient($direction: top, $width: 0 0 0 1px) {
  @return linear-gradient(to $direction, transparent 15%, color.$border 40% 60%, transparent 85%) 1 /
    $width;
}
