@use 'color';
@use 'math';

@mixin fit($spacing: 0) {
  // Layout
  position: absolute;
  inset: $spacing;
}

@mixin desktop {
  @media (width > 40rem) {
    @content;
  }
}

@mixin mobile {
  @media (width <= 40rem) {
    @content;
  }
}

/* Border styling */

@function border($color, $width: 1) {
  @return ($width * 1px) solid $color;
}

@function border-gradient($color, $direction) {
  @return linear-gradient(to $direction, transparent 15%, $color 40% 60%, transparent 85%);
}

@function border-mobile-gradient($color) {
  @return linear-gradient(to right, $color 60%, transparent 85%);
}

@mixin border-inline($left: 0, $right: 0) {
  // Box
  border: none;

  @include color.theme-color(color.$border-key) using ($color) {
    @if $left > 0 {
      border-left: border($color);
    }

    @if $right > 0 {
      border-right: border($color);
    }

    $width: 0 ($right * 1px) 0 ($left * 1px);
    border-image: border-gradient($color, top) 1 / $width;
  }
}

@mixin border-block($top: 0, $bottom: 0, $gradient: null) {
  // Box
  border: none;

  @include color.theme-color(color.$border-key) using ($color) {
    @if $top > 0 {
      border-top: border($color);
    }

    @if $bottom > 0 {
      border-bottom: border($color);
    }

    $gradient: if($gradient, $gradient, border-gradient($color, right));
    $width: ($top * 1px) 0 ($bottom * 1px) 0;
    border-image: $gradient 1 / $width;
  }
}

/* Section styling */

$-section-width: 75rem;
$-border-width: $-section-width + 2 * 4rem;
$-border-overflow: max(0px, (100% - $-border-width) / 2);
$section-padding: calc(1rem + max(0px, (100% - $-section-width) / 2));

@function -section-border($color, $width) {
  @return linear-gradient(
      to right,
      transparent $-border-overflow,
      $color calc(5% + $-border-overflow) calc(95% - $-border-overflow),
      transparent calc(100% - $-border-overflow)
    )
    1 / $width;
}

@mixin section-border-top {
  // Box
  margin-block-start: 1rem;

  @include color.theme-color(color.$border-key) using ($color) {
    border-top: border($color);
    border-image: -section-border($color, 1px 0 0 0);
  }
}

@mixin section-border-bottom {
  // Box
  margin-block-end: 1rem;

  @include color.theme-color(color.$border-key) using ($color) {
    border-bottom: border($color);
    border-image: -section-border($color, 0 0 1px 0);
  }
}
