@use './color';
@use './layout';
@use 'sass:map';

@mixin focus($internal-outline: false, $radius: 2px) {
  // Layout
  position: relative;

  // Decoration
  -webkit-tap-highlight-color: transparent;
  outline: none;

  &::after {
    content: '';

    // Layout
    @include layout.fit(if($internal-outline, 2px, -2px));

    // Border
    border-radius: calc($radius + 2px);

    // Decoration
    outline: 2px solid currentcolor;
  }
}

@mixin -hover($color, $background, $is-dark) {
  // Decoration
  color: color.check-contrast(
    color.darken($color, $contrast: if($is-dark, -3, 3)),
    $background
  );
}

@mixin hover($color, $background: null) {
  @include color.theme using ($theme) {
    @include -hover(
      $color,
      if($background, $background, color.get($theme, color.$background-key)),
      color.get($theme, color.$is-dark-key)
    );
  }
}

@mixin -color-with-hover(
  $color,
  $background,
  $is-dark,
  $internal-outline: false,
  $radius: 2px
) {
  // Decoration
  color: color.check-contrast($color, $background);

  &:hover {
    @include -hover($color, $background, $is-dark);
  }

  &:active {
    @include focus($internal-outline: $internal-outline, $radius: $radius);
  }
}

@mixin color-with-hover($color, $background: null, $args...) {
  @include color.theme using ($theme) {
    @include -color-with-hover(
      $color,
      if($background, $background, color.get($theme, color.$background-key)),
      color.get($theme, color.$is-dark-key),
      $args...
    );
  }
}

// TODO: check contrast with body text as well.
@mixin link(
  $color-key: color.$action-key,
  $visited-key: color.$visited-key,
  $background-key: color.$background-key,
  $internal-outline: false,
  $radius: 2px
) {
  &:where(:focus) {
    @include focus($internal-outline: $internal-outline, $radius: $radius);
  }

  @include color.theme using ($theme) {
    $background: color.get($theme, $background-key);
    $is-dark: color.get($theme, color.$is-dark-key);

    &:link {
      @include -color-with-hover(
        color.get($theme, $color-key),
        $background,
        $is-dark,
        $internal-outline: $internal-outline,
        $radius: $radius
      );
    }

    &:visited {
      @include -color-with-hover(
        color.get($theme, if($visited-key, $visited-key, $color-key)),
        $background,
        $is-dark,
        $internal-outline: $internal-outline,
        $radius: $radius
      );
    }
  }
}

// https://www.a11yproject.com/posts/how-to-hide-content/
@mixin hidden {
  // Layout
  position: absolute;

  // Display
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  // Box
  white-space: nowrap;
}
