@use 'color';
@use 'layout';

@mixin focus($internal-outline: false, $radius: 2px) {
  position: relative;

  -webkit-tap-highlight-color: transparent;
  outline: none;

  &::after {
    content: '';

    @include layout.fit(if($internal-outline, 2px, -2px));

    border-radius: calc($radius + 2px);

    outline: 2px solid currentcolor;
  }
}

@mixin hover($color) {
  color: color.check-contrast(color.darken($color, $contrast: 3));
}

@mixin color-with-hover($color, $internal-outline: false, $radius: 2px) {
  color: color.check-contrast($color);

  &:hover {
    @include hover($color);
  }

  &:active {
    @include focus($internal-outline: $internal-outline, $radius: $radius);
  }
}

@mixin link(
  $color: color.$action,
  $visited: color.$visited,
  $internal-outline: false,
  $radius: 2px
) {
  &:where(:focus) {
    @include focus($internal-outline: $internal-outline, $radius: $radius);
  }

  &:link {
    @include color-with-hover($color, $internal-outline: $internal-outline, $radius: $radius);
  }

  &:visited {
    @include color-with-hover(
      if($visited, $visited, $color),
      $internal-outline: $internal-outline,
      $radius: $radius
    );
  }
}

@mixin hidden {
  position: absolute;

  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@mixin visible {
  position: initial;

  height: initial;
  width: initial;
  overflow: initial;
  clip: inherit;
}
