@use './math';
@use './color';

$font-family: futura, sans-serif;
$weight-normal: 400;
$weight-bold: 700;

@mixin font($scale, $weight: $weight-normal, $set-color: true) {
  $size: math.pow(math.$phi, $scale * 0.5) * 1rem;
  $height: math.ceil($size + 0.5rem, 0.5);

  // Decoration
  @if $set-color {
    @include color.theme-property('color', color.$body-key);
  }
  font: $weight #{math.round($size, 0.1)} / #{$height} $font-family;
  text-indent: calc(0.8px - 0.1em);
}

@mixin title($args...) {
  @include font(4, $args...);
}

@mixin heading($args...) {
  @include font(3, $args...);
}

@mixin subheading($args...) {
  @include font(2, $args...);
}

@mixin section-heading($args...) {
  @include font(1, $weight: $weight-bold, $args...);
}

@mixin body($args...) {
  @include font(1, $args...);
}

@mixin small($args...) {
  @include font(0, $args...);
}
