@use './animation';
@use './color';
@use './layout';
@use './state';
@use './typography';

.header-container,
footer {
  // Decoration
  @include color.theme-background;
}

.header-content,
footer {
  // Display
  display: flex;

  // Box
  margin-inline: layout.$section-margin;

  padding-inline: layout.$section-padding;
  justify-content: space-between;

  @include layout.mobile {
    padding-inline: 0;
  }
}

.header-container {
  // Header has an extra 4rem above the viewport to increase height so that
  // the shadow still works after applying a negative spread.

  // Layout
  position: sticky;
  top: -4rem;
  z-index: 1;

  // Box
  margin-block-start: -4rem;
}

.header-content {
  // Display
  display: flex;

  // Box
  @include layout.section-border-bottom;
  margin-block: 0;
  padding-block-start: 4rem;

  // Decoration
  transition: animation.transition(box-shadow);

  .stuck & {
    @include layout.section-shadow-bottom;
  }
}

.header-title {
  // Layout
  align-self: center;

  // Box
  margin: 0;

  // Decoration
  @include typography.title;

  a {
    // Display
    display: flex;
    height: layout.$header-title-height;

    // Box
    padding-inline: 1rem;
    align-items: center;

    // Decoration
    @include state.link(
      $color-key: color.$primary-key,
      $visited-key: null,
      $internal-outline: true
    );
    text-decoration: none;
  }
}

footer {
  // Box
  @include layout.section-border-top;
  padding-block: 0.5rem;
  align-items: flex-start;

  // Decoration
  @include typography.small;
}

.footer-links {
  // Box
  margin-block: 0.5rem;
  padding-inline: 2rem 1rem;
}
