@use 'color';
@use 'layout';
@use 'state';
@use 'typography';

header,
footer {
  display: flex;

  padding-inline: layout.$section-padding;
  justify-content: space-between;

  background: color.$background;

  @include layout.mobile {
    padding-inline: 0;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1;

  @include layout.section-border-bottom;

  @include layout.mobile {
    // TODO: this breaks the nav menu
    // position: initial;
  }
}

.header-title {
  margin: 0;

  @include typography.title;

  a {
    display: flex;

    height: 4rem;
    padding-inline: 1rem;
    align-items: center;

    @include state.link($color: color.$primary, $visited: null, $internal-outline: true);
    text-decoration: none;
  }
}

footer {
  @include layout.section-border-top;
  padding-block: 0.5rem;
  align-items: flex-start;

  @include typography.small;
}

.footer-links {
  margin-block: 0.5rem;
  padding-inline: 2rem 1rem;
}
