@charset 'utf-8';
@forward 'normalize.css/normalize.css';
@forward 'header';
@forward 'nav';
@use 'animation';
@use 'color';
@use 'layout';
@use 'state';
@use 'typography';

html {
  // Box
  box-sizing: border-box;

  // Decoration
  font-size: 16px;
}

// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
// Apply a natural box layout model to all elements, but allowing components to change.
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  // Display
  overflow-y: scroll; // Always show scrollbar to prevent layout jumping.

  // TODO fade out on navigate?
  // @include animation.fade-in;

  // Decoration
  @include typography.body;
  @include color.theme-background;
}

body,
#app {
  // Display
  display: flex;
  min-height: 100vh;

  // Box
  flex-flow: column;
}

.skip-link {
  // Layout
  position: absolute !important;
  inset-inline: 0;
  z-index: 2;

  &:not(:focus) {
    @include state.hidden;
  }

  // Box
  padding-inline: 0.5rem;

  // Decoration
  @include state.link($visited-key: null, $internal-outline: true);
  /* stylelint-disable-next-line color-function-notation */
  @include color.theme-color(color.$background-key) using ($color) {
    background: rgba($color, 0.5);
  }
  text-align: center;
}

main {
  // Layout
  isolation: isolate;
  flex: auto;

  // Box
  padding-block: 1rem;

  > :not(.fullbleed) {
    margin-inline: layout.$section-padding;
  }

  > :not(.no-padding) {
    padding-inline: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  // Box
  margin: 0 0 1rem;
}

h1 {
  // Decoration
  @include typography.heading;
}

h2 {
  // Decoration
  @include typography.subheading;
}

h3 {
  // Decoration
  @include typography.section-heading;
}

ul {
  // Box
  padding-inline-start: 2rem;
}

:where(:focus) {
  @include state.focus($internal-outline: true);
}

a {
  // Decoration
  @include state.link;
}

.visually-hidden:not(:focus, :active) {
  // Layout
  @include state.hidden;
}

.fa-icon {
  // Display
  display: inline-flex;
}

/* stylelint-disable-next-line selector-class-pattern */
.svg-inline--fa,
.fa-icon svg {
  // Layout
  vertical-align: text-bottom;

  // Display
  /* stylelint-disable-next-line selector-class-pattern */
  &:not(.\9) {
    height: 1em;
    width: 1em;
  }

  // Decoration
  @include color.theme-color(color.$icon-key) using ($color) {
    color: $color;
    fill: currentcolor;

    a:hover & {
      @include state.hover($color);
    }
  }
}
