@use 'animation';
@use 'color';
@use 'layout';
@use 'state';
@use 'typography';

.nav {
  display: flex;

  align-items: flex-end;

  @include layout.mobile {
    min-width: 4rem;
  }
}

.nav-button {
  align-self: center;

  display: none;
  height: 4rem;
  width: 4rem;

  margin-inline-end: 0.5rem;
  border: none;
  padding: 0;

  @include color.theme-color(color.$icon-key) using ($color) {
    @include state.color-with-hover($color, $internal-outline: true);
  }
  background: none;

  @include layout.mobile {
    display: block;
  }

  &:focus {
    pointer-events: none;
  }
}

.nav-links {
  display: flex;

  margin-block: 0;
  padding-inline: 0.5rem 1rem;

  list-style: none;

  @include layout.mobile {
    position: fixed;
    inset: 0;
    transform: translateX(100%);

    margin-block-start: 4rem;
    padding-block: 1rem;
    padding-inline: 0;
    flex-flow: column;

    @include color.theme-background;
    transition: animation.transition(transform);

    .nav:focus-within & {
      transform: none;
    }
  }

  > li {
    @include layout.border-inline(1, 0);

    &:last-of-type {
      @include layout.border-inline(1, 1);
    }

    @include layout.mobile {
      @include color.theme-color(color.$border-key) using ($color) {
        @include layout.border-block(1, 0, $gradient: layout.border-mobile-gradient($color));

        &:last-of-type {
          @include layout.border-block(1, 1, $gradient: layout.border-mobile-gradient($color));
        }
      }
    }
  }
}

.nav-link {
  display: block;
  min-width: 6rem;

  border: none;
  border-radius: 2px;
  padding-block: 0.5rem;
  padding-inline: 1rem;

  @include state.link($internal-outline: true);
  @include typography.body;
  background: none;
  text-align: center;
  text-decoration: none;

  &:link:hover {
    text-decoration: underline;
  }

  @include layout.mobile {
    padding-inline: 2rem;

    text-align: left;
  }
}

span.current {
  @include typography.section-heading;
}

.nav-group {
  ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  li {
    @include layout.border-block(1, 0);
  }

  @include layout.desktop {
    button {
      &.current {
        @include typography.section-heading;
      }

      // stylelint-disable-next-line selector-class-pattern
      &:not(.\9) {
        @include color.theme-color(color.$action-key) using ($color) {
          @include state.color-with-hover($color, $internal-outline: true);
        }
      }
    }

    ul {
      position: absolute;

      opacity: 1;

      @include color.theme using ($theme) {
        border: layout.border(color.get($theme, color.$border-key));
        border-top: layout.border(color.get($theme, color.$background-key));
      }
      border-radius: 0 0 4px 4px;

      @include color.theme-background;
      transition: animation.transition(opacity);
    }

    &:not(:hover, :focus-within) {
      ul {
        @include state.hidden;
        opacity: 0;
      }
    }
  }

  @include layout.mobile {
    button {
      pointer-events: none;
    }

    .nav-link {
      width: 100%;
    }

    ul .nav-link {
      padding-inline-start: 4rem;
    }

    li {
      @include color.theme-color(color.$border-key) using ($color) {
        @include layout.border-block(1, 0, $gradient: layout.border-mobile-gradient($color));
      }
    }
  }
}
